@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Rubik:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    color: #fff;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: inherit;
    height: inherit;
    background-color: #202124;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-top: 1.5rem;
    font-size: 4rem;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator-body {
    width: 420px;
    height: 600px;
    margin-top: 1rem;
    padding: 2rem;
    background-color: #C4C4C4;
    box-shadow: 10px 10px 1px rgba(255, 255, 255, 0.25);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.screen {
    padding: 1rem;
    width: auto;
    height: 120px;
    font-size: 1rem;
    background-color: #A0B388;
    box-shadow: inset 0px 0px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.equation {
    font-size: 1.2rem;
}

.entry {
    text-align: right;
    font-size: 2.7rem;
}

.button {
    padding: 1rem;
    width: 83px;
    height: 70px;
    background-color: #656565;
    border: none;
    border-radius: 10px;
    font-size: 2rem;
    text-align: center;
}

.button:hover {
    background-color: #767676;
}

.button:active {
    box-shadow: inset 0px 0px 5px 4px rgba(0, 0, 0, 0.25);
}

.clear-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button.clear {
    width: 110px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;

}

footer {
    background-color: #C4C4C4;
    color: black;
    font-size: 1rem;
    font-family: 'Fira Sans', sans-serif;
    width: inherit;
    min-height: 50px;
    margin-top: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

footer > p {
    font-family: inherit;
    color: inherit;
    flex: 1;
    text-align: center;
}

footer > p > a {
    font-family: inherit;
    color: inherit;
    text-decoration: none;
}

footer > a {
    position: absolute;
    right: 1rem;
    transition: all 0.4s;

    display: flex;
    align-items: center;
}

footer > a:hover {
    transform: rotateY(180deg);
}

@media screen and (max-width: 550px) {
    .title {
        font-size: 3rem;
    }

    .calculator-body {
        width: 350px;
        height: 500px;
        padding: 1.5rem;
    }

    .screen {
        height: 110px;
    }

    .equation {
        font-size: 1rem;
    }
    
    .entry {
        font-size: 2.2rem;
    }

    .button {
        width: 70px;
        height: 58.3px;
        font-size: 1.5rem;
        border-radius: 8px;
    }

    .button.clear {
        width: 91.6px;
    }

    .buttons {
        gap: 0.3rem;
    }
}

@media screen and (max-width: 400px) {
    .title {
        font-size: 2.3rem;
    }

    .calculator-body {
        width: 290px;
        height: 414.3px;
        padding: 1.1rem;
    }

    .screen {
        height: 100px;
    }

    .equation {
        font-size: 0.8rem;
    }
    
    .entry {
        font-size: 1.5rem;
    }

    .button {
        width: 58px;
        height: 48.3px;
        font-size: 1rem;
        border-radius: 7px;
    }

    .button.clear {
        width: 80px;
    }

    .buttons {
        gap: 0.1rem;
        row-gap: 0.3rem;
    }
}

